#
#Fingerprint modify by rulei.zhou
#
menu "Fingerprint support"
	depends on INPUT

config MTK_FINGERPRINT_SUPPORT
	bool "Mediatek Fingerprint"
	default n
	---help---
	Fingerprint mtk driver enable/disable in the kernel.
	Say Y here if you want to use mediatek fingerprint driver,
	fingerprint driver will support fingerprint function

if MTK_FINGERPRINT_SUPPORT


config FPC_FINGERPRINT
	bool "FPC Fingerprint"
	default n
	---help---
	FPC fingerprint FPC's 102x/104x device.
config GOODIX_FINGERPRINT_GX556
	bool "Goodix Fingerprint"
	default n
	---help---
	Goodix Fingerprint chip GX556 REE driver
config FINGERPRINT_SW9251
	bool "sunwave Fingerprint"
	default n
	---help---
	sunwave Fingerprint chip GX556 REE driver

endif
endmenu
